{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estatísticas</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{% static '../static/assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static '../static/assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static '../static/assets/css/custom.css' %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body style>
     
           
          
 
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img src="../static/assets/img/ibge-logo.png" class="img-responsive" />
                     
                    </li>

                    <li class>
                        <a href="#"><i class="fa fa-desktop "></i>Início</a>
                    </li>

                    <li class>
                       <a href="#"><i class="fa fa-bar-chart-o "></i>Populações</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Natal</a>
                            </li>
                            <li>
                                <a href="#">Mossoró</a>
                            </li>
                            <li>
                                <a href="#">Soma de Natal e Mossoró</a>
                            </li>
                        </ul>
                    </li>

                     <li class>
                        <a href="#"><i class="fa fa-bar-chart-o "></i>IDH</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Natal</a>
                            </li>
                            <li>
                                <a href="#">Mossoró</a>
                            </li>
                            <li>
                                <a href="#">Média de Natal e Mossoró</a>
                            </li>
                        </ul>
                    </li>

                   
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Estatísticas</h2>   
                    </div>
                </div>  

                 <!-- /. ROW  -->
                  <hr />
                  <div class="row">
                    <div class="col-md-12">
                        <h4>Bem-vindo a página de estatísticas das cidades de Natal e Mossoró</h4>
                        
                    </div>
              
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>

     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
